.git
.venv
.env
.DS_Store
__pycache__
.pytest_cache
.ruff_cache
*.pyc

checkpoints
checkpoints-v2
models

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

frontend/node_modules
frontend/dist
